#app {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
}

#app #as_navbar h2::first-letter, #app #login h2::first-letter {
  font-weight: 700;
  color: #005f73;
}

#app #as_btn {
  cursor: pointer;
  background: #005f73;
}

#app #as_btn a {
  color: #fff;
  font-weight: 500;
}

#app #as_btn:hover a {
  color: #005f73;
}

#app #as_btn:hover::before {
  background: #fff;
}

#app #login {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

#app #login fieldset {
  padding: 0 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2.5px solid #005f73;
}

#app #login fieldset legend {
  padding: 0 5px;
  color: #005f73;
  font-weight: 600;
}

#app #login fieldset input {
  padding: 5px 0;
  font-size: 16px;
}

#app #login fieldset input, #app #login fieldset input::-webkit-input-placeholder {
  color: #00000090;
  font-weight: 600;
  -webkit-transition: 1s;
  transition: 1s;
}

#app #login fieldset input, #app #login fieldset input:-ms-input-placeholder {
  color: #00000090;
  font-weight: 600;
  -webkit-transition: 1s;
  transition: 1s;
}

#app #login fieldset input, #app #login fieldset input::-ms-input-placeholder {
  color: #00000090;
  font-weight: 600;
  -webkit-transition: 1s;
  transition: 1s;
}

#app #login fieldset input, #app #login fieldset input::placeholder {
  color: #00000090;
  font-weight: 600;
  -webkit-transition: 1s;
  transition: 1s;
}

#app section {
  height: 100%;
  max-height: 100vh;
  min-width: 100vw;
  scroll-snap-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app #home .send_message {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 -2.5px 0 #005f73;
          box-shadow: 0 -2.5px 0 #005f73;
  background: #fff;
  z-index: 2;
}

#app #home .send_message input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  width: 100%;
}

#app #home .send_message #as_btn {
  padding: 7px 0;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app #home ul {
  height: 100vh;
  max-height: calc(100vh - 100px);
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#app #home ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

#app #home ul li h3 {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #005f73;
  font-size: 20px;
  background: #eaebed;
  border-radius: 50%;
  cursor: pointer;
}

#app #home ul li .message_bx {
  margin: 0 10px;
  padding: 5px 7px;
  height: 100%;
  min-width: 150px;
  max-width: calc(100vw - 140px);
  overflow: hidden;
  color: #fff;
  background: #005f73;
  border-radius: 4px;
}

#app #home ul li .message_bx span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff90;
  font-weight: 700;
}

#app #home ul li:not(:first-child) {
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */